.App {
  background-color: #282c34;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-logo {
  max-height: 40vmin;
  pointer-events: none;
}

.App-icon {
  height: 40vmin;
  width: 40vmin;
  max-width: 240px;
  max-height: 240px;
  pointer-events: none;
}

@media screen and (max-width: 800) {
  .App-icon {
    max-width: 120px;
    max-height: 120px;
  }
}

.App-body {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Horizontal-Flow {
  text-align: center;
  align-items: center;
}